@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 940px;
    background-color: #fff;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    min-height: 350px;
    padding: 80px 90px;
    border-radius: 10px;
    display: flex;
}

.left-side, .right-side {
    width: 50%;
    height: 230px;
}

.left-side img {
    width: 294px;
    height: 171px;
    margin: 20px 0;
}

.right-side h2 {
    margin: 20px auto 10px;
}

.right-side ul {
    margin-top: 5px;
    list-style-position: inside;
}

.right-side a {
    background-color: #1da0d8;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    width: 50%;
    margin-top: 10px;
    text-decoration: none;
}

.right-side a:hover {
    background-color: rgb(100, 32, 209);
}

.box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    min-height: 390px;
    width: 640px;
    padding: 50px;
}

.title {
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.scoreBox, .timeBox {
    border: 2px solid #444;
    border-radius: 20px;
    padding: 10px 10px;
}

.questionBox {
    background-color: rgb(85, 23, 156);
    color: #fff;
    border-radius: 20px;
    padding: 15px;
    font-weight: 500;
}

.optionBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0;
    grid-gap: 15px;
}

.optionBox span:hover {
    border-width: 2px;
}

.optionBox span {
    background-color: #bbb;
    border-radius: 10px;
    color: #333;
    border: 1px solid #333;
    padding: 10px 15px;
}

.optionBox span.right {
    background-color: green;
    border-width: 2px;
    color: #fff;
    font-weight: 550;
}

.optionBox span.wrong {
    background-color: red;
    border-width: 2px;
    color: #fff;
    font-weight: 550;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer button {
    background-color: #1da0d8;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 550;
    padding: 10px 20px;
}

.footer button:hover {
    background-color: #00b3ff;
}

#resultScreen .title {
    margin-bottom: 30px;
}

.resultBox {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    font-size: 20px;
}

.resultBox *:nth-child(odd) {
    text-align: right;
}

.resultBox span {
    font-weight: 600;
}

.buttonBox {
    border-top: 2px solid black;
    text-align: center;
    padding-top: 15px;
}

.buttonBox a {
    background-color: #1da0d8;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 7px 15px;
    margin-top: 10px;
    text-decoration: none;
}

.buttonBox a:hover {
    background-color: rgb(100, 32, 209);
}